

<div class="container">
  <h1>Напишите нам</h1>
  <form class="card" [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-control">
      <label>Ваше имя:</label>
      <input type="text" placeholder="Имя" formControlName="name">
    </div>
    <div
      *ngIf="form.get('name').invalid && form.get('name').touched"
    >
      <small *ngIf="form.get('name').errors.required">Поле имя не может быть пустым</small>
    </div>
    <div class="form-control">
      <label>Ваш Email:</label>
      <input type="text" placeholder="Email" formControlName="email">
    </div>
    <div
      *ngIf="form.get('email').invalid && form.get('email').touched "
    >
      <small *ngIf="form.get('email').errors.required">Поле email не может быть пустым</small>
      <small *ngIf="form.get('email').errors.email">Введите корректный email</small>
    </div>

    <div class="form-control">
      <label>Ваш телефон</label>
      <input type="number" placeholder="Телефон" formControlName="phone" >
    </div>

    <div
      *ngIf="form.get('phone').invalid && form.get('phone').touched"
    >
      <small *ngIf="form.get('phone').errors.required">Поле телефон не может быть пустым</small>
      <small *ngIf="form.get('phone').errors.pattern">Введите корректный номер телефона</small>
    </div>

      <div class="form-control">
        <label>Тема:</label>
        <select formControlName="selector">
          <option value="Техподдержка">Техподдержка</option>
          <option value="Продажи">Продажи</option>
          <option value="Другое">Другое</option>
          <option value="FAQ">FAQ</option>
        </select>
      </div>
      <div class="form-control">
        <label>Ваше сообщение:</label>
        <textarea type="text" formControlName="message"></textarea>
      </div>
    <div
      *ngIf="form.get('message').invalid && form.get('message').touched"
    >
      <small *ngIf="form.get('message').errors.required">Поле сообщения не может быть пустым</small>
    </div>
    <app-captcha></app-captcha>
    <button class="btn" type="submit" [disabled]="!nur" (click)="openBlankTab()">Отправить</button>
    <ng-template></ng-template>
  </form>
</div>

