
h1{
  background-color:firebrick ;
  color: white ;
  position: relative;
  right: 34px;
  margin-block-start: auto;
  text-align: right;
  padding-right: 100px;
}
.container{
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 350px;
  margin: 0 auto;
}
p {
  font-size: 1.5rem;
}
.form-control{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0px;
}
label{
  flex: 1;
  margin: auto;
}
select{
  margin-bottom: 5px;
  float: right;
  width: 226px;
  border-radius: 5px ;
  border: 1px solid;
}
input {
  margin-bottom: 5px;
  width: 220px;
  height: 20px;
  border-radius: 5px ;
  border: 1px solid;
  text-indent: 15px;
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  &.ng-valid.ng-touched {
    border: 1px solid green;
    background-color: rgb(232,240,254);
  }
}
textarea{
  margin-bottom: 5px;
  width: 220px;
  resize: none;
  border-radius: 5px ;
  border: 1px solid;

  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  &.ng-valid.ng-touched {
    border: 1px solid green;
    background-color: rgb(232,240,254);
  }
}
.btn{
  margin:0px 123px;
  display: flex;
  margin-top: 10px;
  width: 150px;
  height: 25px;
  font-size: 15px;
  border-radius: 5px;
}
small{
  display:flex ;
  justify-content: flex-end;
  color: red;
}
.numb{
  width: 100px;
  margin-right: 35px;
}
.numbers{
  margin-top: 5px;
  margin-right: 5px;
}
.triangl1{
  width: 0;
  height: 0;
  border-top: 37px solid firebrick;
  border-right: 14px solid transparent;
  position: absolute;
  left: 350px;
}
.triangl{
  width: 0;
  height: 0;
  border-top: 14px solid #791313;
  border-left: 14px solid transparent;
  position: absolute;
}

.bx-user:before, .bx-envelope:before, .bx-mobile:before {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
}

